/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'primeicons/primeicons.css';

@theme {
  --color-background: #0a0e17;
  --color-background-light: #161c2d;
  --color-primary-light: #152957;
  --color-primary: #135bec;
  --color-primary-dark: #162240;
  --color-danger-light: #ef4444;
  --color-danger: #912430;
  --color-danger-dark: #2c202f;
  --color-success-light: #10b981;
  --color-success: #154844;
  --color-success-dark: #162c35;
  --color-muted-light: #94a3b8;
  --color-muted: #334155;
  --color-muted-dark: #1e293b;
  --color-card-background: #161c2d;
}
/* globals.css */

@layer utilities {
  .glow {
    @apply relative;
    box-shadow: 0 0 10px #135bec;

    transition: text-shadow 0.3s ease-in-out;
  }
  .warning-glow {
    @apply relative;
    box-shadow: 0 0 10px #ef4444;

    transition: text-shadow 0.3s ease-in-out;
  }
  .success-glow {
    @apply relative;
    box-shadow: 0 0 10px #10b981;

    transition: text-shadow 0.3s ease-in-out;
  }
  .hover-glow:hover {
    @apply relative;
    box-shadow: 0 0 10px #135bec;

    transition: text-shadow 0.3s ease-in-out;
  }
}
html {
  overflow-x: hidden;
  color: white;
}
